:host {
    display: flex;
    flex-direction: row;
}
.container{
    height: 88.5vh;
}

mat-sidenav-container{
    width: 100%;
}

mat-sidenav {
    width: 175px;
}

mat-card {
    height: 100%;
}

.mat-drawer-content {
    overflow-y: hidden !important;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    border-left: 5px solid var(--a-200);
}

.nav-list-text {
    color: var(--p-600);
}

.nav-list-icon {
    color: var(--p-600);
}

/* mat-sidenav-content {
    width: 600vw;
} */